body {
    height: 100vh;
    background: conic-gradient(
        from 45deg,
        #ff4d6d 0,
        #ff758f 90deg,
        #c9184a 90deg,
        #c9184a 180deg,
        #ff4d6d 180deg,
        #ff758f 270deg,
        #ff8fa3 270deg,
        #ff8fa3 360deg
    );
    background-size: 3em 3em;
}