/* reset CSS */
/* 
kiểu selector * nghĩa là đại diện cho tất cả các thẻ trong file HTML
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Lato', sans-serif;
    /* nếu có phông Lato (load từ link google fonts) thì sử dụng phông Lato, nếu không có thì sử dụng phông không chân có sẵn trên máy user (người dùng) */
    /* không viết cũng được vì là font-size mặc định là 16px */
    font-size: 16px;
  }
  body {
    /* màu nền */
    background-color: #FF644A;
  }
  #sidebar {
    /* emmet 
      df và bấm phím tab */
    display: flex;
    /* Chọn sidebar làm flex container 
    => left content right là 3 flex item */
    background-color: #fff;
    /* set khoảng cách */
    margin-top: 100px;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    /* padding: 20px 0; */
    /* 
    padding top là 20px
    padding bottom là 20px
    padding left là 0
    padding right là 0
    */
  }
  #sidebar .left {
    flex: 1;
    background-color: palevioletred;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
  }
  #sidebar .right {
    flex: 1;
    background-color: palevioletred;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
  }
  #sidebar .center {
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
  }
  #sidebar .content {
    flex: 5;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
  }